.wrapper {
  /* border: 1px red solid; */
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.innerContainer1 {
  background-image: url(../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  width: 50rem;
  height: 30rem;
  margin-left: 10rem;
  position: relative;
}

.innerContainer2 {
  box-shadow: 0.03rem 0.01rem 0.5rem 0.01rem rgba(131, 131, 131, 0.144);
  border: 1px var(--border-grey) solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25rem;
  width: 28rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 3rem;
}

.innerContainer2 > h2:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--title-grey);
  margin-bottom: 1rem;
}

.innerContainer2 > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-grey);
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 1rem;
}

.innerContainer2 > div:nth-child(3) {
  border: 1px var(--blue) solid;
  border-radius: 0.3rem;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 700;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.innerContainer2 > div:nth-child(3):hover {
  background-color: var(--blue);
  color: var(--white);
}
