.wrapper {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > h2:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-grey);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.container1 {
  background-image: url(../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  width: 32rem;
  height: 28rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.container1 > div {
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.sub1 {
  background-color: var(--blue);
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.5rem;
}

.sub2 {
  background-color: var(--blue2);
  padding: 1rem 1.5rem;
  width: 100%;
}

#dateNo {
  font-size: 1.4rem;
  font-weight: 700;
}

.sub2 > p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.sub2 > p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--white);
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.subContainer2 {
  border-bottom: 2px #00308026 solid;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subContainer2 > div:nth-child(1) {
  background-color: var(--blue);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 5rem;
  height: 5rem;
}

.subContainer2 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.subContainer2 > div:nth-child(2) > p:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--title-grey);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.subContainer2 > div:nth-child(2) > p:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-grey);
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
  max-width: 30rem;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.btn {
  border: 1px var(--blue) solid;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
