.wrapper {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--blue-blur2), var(--blue-blur2)),
    url(../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper > h2:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--yellow);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.wrapper > div:nth-child(2) {
  background-color: var(--border-grey);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.wrapper > h3:nth-child(3) {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 1rem;
}

.wrapper > p:nth-child(4) {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 1rem;
}

.wrapper > p:nth-child(5) {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.wrapper > p:nth-child(5):hover {
  color: var(--yellow);
  cursor: pointer;
}
