.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper > div:nth-child(1) {
  padding: 0rem 5rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper > div:nth-child(1) > h2:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-grey);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.wrapper > div:nth-child(1) > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-grey);
  margin-bottom: 4rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.sub1 {
  background-image: url(../../../assets/bg.png);
  width: 22rem;
  height: 30rem;
}

.sub2 {
  background-image: url(../../../assets/bg.png);
  width: 17rem;
  height: 25rem;
}

.subBlur {
  background-image: linear-gradient(#ffffffa6, #ffffff8e),
    url(../../../assets/bg.png);
  width: 15rem;
  height: 20rem;
}

.container > div {
  position: relative;
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
}

.container > div > div {
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--yellow);
  font-size: 0.9rem;
  font-weight: 700;
  color: #222222;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  border: 1px var(--blue) solid;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--blue);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
