.wrapper {
  padding: 10rem 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.innerContainer {
  background-image: url(../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  width: 100%;
  height: 50rem;
  position: relative;
}

.innerContainer1 {
  box-shadow: 0.03rem 0.01rem 0.5rem 0.01rem rgba(131, 131, 131, 0.144);
  border: 1px var(--border-grey) solid;
  position: absolute;
  top: -4rem;
  right: 2rem;
  width: 28rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 3rem;
}

.innerContainer2 {
  box-shadow: 0.03rem 0.01rem 0.5rem 0.01rem rgba(131, 131, 131, 0.144);
  border: 1px var(--border-grey) solid;
  position: absolute;
  bottom: -4rem;
  left: 2rem;
  width: 28rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 3rem;
}

.innerContainer1 > h2:nth-child(1),
.innerContainer2 > h2:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-grey);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.innerContainer1 > p:nth-child(2),
.innerContainer2 > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-grey);
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 1rem;
}

.innerContainer1 > div:nth-child(3),
.innerContainer2 > div:nth-child(3) {
  border: 1px var(--blue) solid;
  border-radius: 0.2rem;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 700;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.innerContainer1 > div:nth-child(3):hover,
.innerContainer2 > div:nth-child(3):hover {
  border: 1px var(--blue) solid;
  background-color: var(--blue);
  border-radius: 0.2rem;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 700;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
