.wrapper {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--blue-blur2), var(--blue-blur2)),
    url(../../../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper > div:nth-child(1) {
  background-color: var(--border-grey);
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.wrapper > h2:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--yellow);
  margin-bottom: 1rem;
}

.wrapper > p:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  text-align: justify;
  margin-bottom: 1rem;
}

.wrapper > p:nth-child(4) {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wrapper > p:nth-child(4):hover {
  color: var(--yellow);
  cursor: pointer;
}

.wrapper > p:nth-child(4) > img {
  width: 0.7rem;
}
